*{
    margin: 0;
    padding: 0;
}
/* start section home-page */

@media (max-width:767px){
    .home-page{
        height: 40vh;
    }
    .home-page .container{
        position: absolute;
        top: 10%;
        left: 10%;
 
    }
    .home-page .container .title{
        font-size: 15px;
    }
    .home-page .container p{
        font-size: 8px;
    }
    .footer-home-page{
        position: absolute;
        left: 2%;
        bottom: 0;
        font-size: 10px;
    }
} 


 @media (max-width:440px){
    .home-page{
        height: 25vh;
    }
    .home-page .container{
        position: absolute;
        top: 10%;
        left: 10%;
 
    }
    .home-page .container .title{
        font-size: 15px;
    }
    .home-page .container p{
        font-size: 8px;
    }
    .footer-home-page{
        position: absolute;
        left: 2%;
        bottom: 0;
        font-size: 10px;
    }
} 
/* end section home-page */