.p1{
    color: #1E255E;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.p2{
    color: rgba(30, 37, 94, 0.70);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p3{
    color: #1E255D;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}